@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
    margin: 0;
    box-sizing: border-box;
    color: #333;
    font-family: "Quicksand";
}

body {
    background-color: #81a69b;
    background-image: url(http://pets-images.dev-apis.com/pets/wallpaperB.jpg);
    margin: 0;
}

h1 {
    color: #f1356d;
    text-align: center;
    padding: 2rem;
}

.img-grid {
    margin: 10px 30px 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.img-wrap {
    overflow: hidden;
    height: 0;
    padding: 50% 0;
    /* padding controls height, will always be perfectly square regardless of width */
    position: relative;
    opacity: 1;
}

.img-wrap img {
    min-width: 50%;
    min-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.img-container .img-wrap:hover,
.img-container .img-wrap:focus {
    transform: scale(1.27);
    z-index: 1;
}

.img-container button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 4px;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .img-grid {
        width: 50%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .img-grid {
        width: 100%;
    }
}